# =================================
# Server
# =================================
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:8080

# =================================
# Banco de Dados (MySQL)
# =================================
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=project_case
